@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}
body{
    overflow: hidden;
}
#audi-video{
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 125%;
}
#menu-opener{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    background: none;
    border: none;
}
#menu-opener i{
    font-size: 19px;
    color: #fff;
}
.menuCover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: 0.6s ease-in-out;
    z-index: 2;
}
.menuCover-visible{
    transform: translateX(0%);
}
.menuCover .logoCover{
    width: 100%;
    height: 4.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -6px 8px #000;
}
.logoCover img{
    width: 80px;
}
.menuCover ul{
    list-style-type: none;
    margin-top: 10rem;
}
.menuCover ul li{
    text-align: center;
    font-size: 15px;
    margin: 20px 0;
    font-weight: 300;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.menuCover ul li:hover{
    color: #1e1d1dab
}
.menuCover .closeBtn{
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
.explore{
    position: absolute;
    left: 30px;
    bottom: 30px;
    background-color: transparent;
    border: 2px solid #fff;
    height: 49px;
    color: #fff;
    width: 153px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    opacity: 1;
    z-index: 1;
}
.explore:hover{
    background-color: #fff;
    color: #000;
}

/* Scroll Down Animation */
.scroll-indicator{
    position: absolute;
    width: 100%;
    bottom: 35px;
    left: 0;
    padding-right: 28px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 0;
}
.mouse_scroll {
    display: block;
    width: 24px;
    height: 100px;
    margin-top: 125px;
}
.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);

    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;

    width: 16px;
    height: 16px;
}

.unu {
    margin-top: 1px;
}

.unu,
.doi,
.trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}

.unu {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -webkit-animation-direction: alternate;

    animation-direction: alternate;
    animation-delay: alternate;
}

.doi {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-direction: alternate;

    animation-delay: 0.2s;
    animation-direction: alternate;

    margin-top: -6px;
}

.trei {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-direction: alternate;

    animation-delay: 0.3s;
    animation-direction: alternate;

    margin-top: -6px;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@-o-keyframes mouse-wheel {
    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@keyframes mouse-wheel {
    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
  